.footer {
  text-align: center;
  background-color: #333;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.footer a {
  color: azure;
  padding: 5px;
  margin: 0;
  font-size: 85%;
  /* background-color: rgba(27, 31, 35, 0.05); */
  border-radius: 3px;
  border: 1px solid azure;
  text-decoration: none;
}

footer a:hover {
  transition: 0.3s;
  background-color: azure;
  color: #333;
}
